.search-box {
  max-width: 1062px;
  margin: 68px auto;
  padding: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.search-upper-part {
  padding: 17px 30px 30px 30px;
  background: #5c87db;
  border-radius: 15px 15px 0px 0px;
}

.search-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-field-item {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: white;
  }
}
.search-field-input {
  position: relative;
  svg {
    margin-right: 8px;
    transform: translateY(3px);

    &:hover {
      cursor: pointer;
      g path {
        fill: #5c87db;
      }
    }
  }

  border: 1px solid transparent;
  background: white;
  border-radius: 10px;
  padding: 12px 80px 12px 12px;
  input {
    border: none;
    width: 104px;
    color: #2a2a2a;
    opacity: 0.8;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    &:focus {
      outline: none;
    }
  }
}

.search-bottom-part {
  color: white;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  padding: 23px 29px 23px 775px;
}
.search-button {
  color: white;
  background: #5c87db;
  border-radius: 10px;
  padding: 10px 32px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #4274d7;
  }
}

.disabled {
  color: white;
  background: #bababa;
  border-radius: 10px;
  padding: 10px 32px;
  border: 1px solid transparent;
}

@media (max-width: 1060px) {
  .search-fields {
    flex-direction: column;
  }
  .search-upper-part {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bottom-part {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
